@use "../variables";
@import "../mixins";

.pagination {
  display: flex;
  padding-bottom: 16px;
  gap: 10px;

  &_nav:first-child {
    padding-right: 10px;
  }

  &_nav:last-child {
    padding-left: 10px;
  }

  &_item {
    @include center-flex;
    border-radius: variables.$border-radius;
    background-color: rgb(var(--secondary));
    color: rgb(var(--primary));
    font-size: 12px;
    text-decoration: none;
    padding-bottom: 1px;
    user-select: none;

    &:not(.pagination_nav) {
      width: 40px;
      height: 40px;
    }

    &:not(&_ellipsis):not(&_active):hover {
      background-color: rgba(var(--primary), 0.2);

      &:active {
        transform: variables.$active-scale;
      }
    }

    &_active {
      color: rgb(var(--primary-foreground));
      background-color: rgb(var(--primary));
      font-weight: 700;
      cursor: default;
    }

    &:not(.pagination_item_active):not(.pagination_disabled):focus {
      @include focus-styles;
    }

    @media (max-width: 700px) {
      &:not(.pagination_mobile):not(.pagination_nav) {
        display: none;
      }
    }
  }

  @media (min-width: 700px) {
    &_mobile {
      display: none;
    }
  }

  .pagination_disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
  }
}
