$border-radius: 20px;
$active-scale: scale(1.05);

:root {
  --primary: 48, 52, 90; // #30345a
  --primary-foreground: 255, 255, 255; // #ffffff
  --background: 245, 251, 251; // #f5fbfb
  --secondary: 226, 231, 235; //#e2e7eb;
  --card-background: 239, 211, 187; // #efd3bb;
  --card-circle: 255, 255, 255; // #ffffff
  --scrollbar: 48, 52, 90; // #30345a
  --scrollbar-border: 241, 241, 241; // #f1f1f1
  --button-bg: 48, 52, 90; // #30345a
  --button-bg-foreground: 255, 255, 255; // #ffffff
}

[data-theme="dark"] {
  --primary: 245, 251, 251; // #f5fbfb
  --primary-foreground: 226, 231, 235; //#e2e7eb;
  --background: 1, 1, 4; // #010104; -NEW
  --secondary: 31, 32, 34; // #1f2022;
  --card-background: 17, 17, 17; // #111111 -NEW
  --card-circle: 226, 231, 235; //#e2e7eb;
  --scrollbar: 48, 52, 90; // #30345a
  --scrollbar-border: 31, 32, 34; // #1f2022;
  --button-bg: 43, 46, 81; // #2B2E51
  --button-bg-foreground: 255, 255, 255; // #ffffff
}
